<include file="Public/header" />
<title>添加权限 - 权限管理 - H-ui.admin v3.1</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="page-container">
	<form action="__SELF__" method="post" class="form form-horizontal" onsubmit="" id="formId">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="该权限的名称" id="adminName" name="auth_name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级权限：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select name="auth_pid" class="select">
				<option value="">--请选择--</option>
				<option value="0">顶级权限</option>
				<foreach name="info" item="v" key="k">
					<option value="{$v.auth_id}"><?php echo str_repeat('--/',$v['auth_level']); ?>{$v.auth_name}</option>
				</foreach>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限控制器：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="该权限控制器名称，顶级权限为空" id="adminName" name="auth_c">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限方法：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" placeholder="该权限方法名称，顶级权限为空" id="adminName" name="auth_a">
		</div>
	</div>
	
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

<include file="Public/footer" />

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	// $("#form-admin-add").validate({
	// 	rules:{
	// 		adminName:{
	// 			required:true,
	// 			minlength:4,
	// 			maxlength:16
	// 		},
	// 		password:{
	// 			required:true,
	// 		},
	// 		password2:{
	// 			required:true,
	// 			equalTo: "#password"
	// 		},
	// 		sex:{
	// 			required:true,
	// 		},
	// 		phone:{
	// 			required:true,
	// 			isPhone:true,
	// 		},
	// 		email:{
	// 			required:true,
	// 			email:true,
	// 		},
	// 		adminRole:{
	// 			required:true,
	// 		},
	// 	},
	// 	onkeyup:false,
	// 	focusCleanup:true,
	// 	success:"valid",
	// 	submitHandler:function(form){
	// 		$(form).ajaxSubmit({
	// 			type: 'post',
	// 			url: "xxxxxxx" ,
	// 			success: function(data){
	// 				layer.msg('添加成功!',{icon:1,time:1000});
	// 			},
 //                error: function(XmlHttpRequest, textStatus, errorThrown){
	// 				layer.msg('error!',{icon:1,time:1000});
	// 			}
	// 		});
	// 		var index = parent.layer.getFrameIndex(window.name);
	// 		parent.$('.btn-refresh').click();
	// 		parent.layer.close(index);
	// 	}
	// });
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>